<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>editBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>


    <h1>Edit Word Set</h1>
    <div>
        <form th:object="${word}" th:action="@{../save}" action="#" method="post">

            <input type="hidden" id="id" th:field="*{id}" />

            <label for="engWord">English Word:</label>
            <input type="text" th:field="*{engWord}" />

            <label for="finWord">Finnish Word:</label>
            <input type="text" th:field="*{finWord}" />

            <label for="exampleSentence">Example Sentance:</label>
            <input type="text" th:field="*{exampleSentence}" />

            <label for="difficultyLevel">Diffiiculty Level:</label>
            <input type="text" th:field="*{difficultyLevel}" />


            <label for="category">Category:</label>
            <select id="category" th:field="*{category}" class="form-control">
                <option th:each="category: ${categories}" th:value="${category.categoryId}"
                    th:text="${category.categoryName}"></option>
            </select>

            <input type="submit" value="Save" />
            
        </form>
    </div>
</body>


</html>